body {
  font-family: sans-serif;
  margin: 0;

}

.content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /*height: 100%;*/
}

.header-content {
  height: 100%;
}

.header {
  height: 25vw;
  max-height: 150px;
  width: 100%;
}

img.udacity-logo {
  max-height: 100%;
  width: 20%;
  float: left;
}

.big-title {
  float: left;
  padding-top: 5%;
  width: 80%;
}

@media screen and (max-width: 380px) {
  .big-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 465px) {
  .big-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding-top: 15px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 5px;
  }
}

@media screen and (max-width: 464px) and (min-width: 381px) {
  .big-title {
    font-size: 32px;
  }
}

.hero {
  padding: 1em;
  max-width: 100%;
  background-color: cadetblue;
  color: white;
}

img.my-picture {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.iama {
  max-width: 100%;
  color: rgb(150, 150, 150);
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight:100;
  margin: 0px;
}

.my-info {
  max-width: 100%;
  font-size: 24px;
  color:cadetblue;
  line-height: 1.4;
  margin: 8px auto 30px;
}

.my-info:last-of-type {
  margin: 0px;
}

.my-name {
  color: white;
  font-weight:600;
  margin-top: 60px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.my-country {
  color: white;
  font-weight:400;
  word-spacing: 1.0;
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

.about-me {
  padding: 1em;
  margin-top: 20px;
}